OrderNotifier#shipped
%h3 Pragmatic Order Shipped
= @greeting + " #{@order.name}"
%p This is just to let you know we've shipped your recent order:
%table
  %tr
    %th(colspan: 2) Qty
    %th Description
  = render @order.line_items
